@model PuzzleSprite.Web.Models.ResultModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
	
}

<h2>PuzzleSprite</h2>
<p>Works!</p>
PNG: <span class="icon sample1 iconShare"></span>
<br/>
PSD: <span class="icon sample2 iconfeed"></span>
<br />
PNG from other bundle: <span class="icon iconGreenShare"></span>
<br />
PSD from other bundle: <span class="icon bigImage iconGreenFeed"></span>
<br/>
PSD alpha test: <span class="icon iconTheTest"></span>