@model PuzzleSprite.Web.Models.ResultModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
	
}

<h2>PuzzleSprite</h2>
<p>Works!</p>
PNG: <span class="icon sample1 Sample1"></span>
<br/>
PSD: <span class="icon sample2 Sample2"></span>
<br />
Cloud Icon: <span class="icon cloud"></span>
<br />
sun: <span class="icon sun"></span>
<br />
Big sample: <span class="icon bigImage Sample3"></span>

