@model PuzzleSprite.Web.Models.ResultModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
	
}

<h2>PuzzleSprite</h2>
<p>Works!</p>
PNG: <span class="icon sample1 Share"></span>
<br/>
PSD: <span class="icon sample2 feed"></span>
<br />
PNG from other bundle: <span class="icon GreenShare"></span>
<br />
PSD from other bundle: <span class="icon bigImage GreenFeed"></span>


