body{
	background-color:#eee;
}

.icon {
	display: inline-block;
}

.sample1 {
	puzzle: Sample1;
}

.sample2 {
	puzzle: Sample2;
}

.cloud {
	puzzle: cloud;
}

.sun {
	puzzle: sun;
	color: green;
}

.bigImage {
	puzzle: Sample3;
	
}